<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/UJTbo6rlXzw" target="_blank"><img alt="Volant Rush Video" src="{{ "/assets/img/VolantRushVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents">
    <h3> Volant Rush </h3>
    <p>Volant Rush is a single tap endless sci-fi hover craft running game in space that will entertain you for hours. It is a fast paced game that gradually increases speed overtime with unpredictable obstacles coming out everywhere possible. Tap the screen to go left or right. Avoid the obstacles and see if you can reach all the levels. Compete for online leaderboard and become the best in Volant Rush.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.DeadlyGames.VolantRush&hl=en_GB">Google Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
