<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/UJTbo6rlXzw" target="_blank"><img alt="Volant Rush Video" src="{{ "/assets/img/VolantRushVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents">
    <h3> VOLANT RUSH </h3>
    <p>Volant Rush is a single tap endless sci-fi hover craft running game in space that will entertain you for hours. It is a fast paced game that gradually increases speed overtime with unpredictable obstacles coming out everywhere possible. Tap the screen to go left or right. Avoid the obstacles and see if you can reach all the levels. Compete for online leaderboard and become the best in Volant Rush.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.DeadlyGames.VolantRush&hl=en_GB" target="_blank">Google Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/OOb8vUTDlxk" target="_blank"><img alt="Robolete Video" src="{{ "/assets/img/RoboleteVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> ROBOLETE </h3>
    <p>Play any of our free and fun games, be the highest scorer. Enjoy the many beautiful sceneries while jumping, skipping, running or hovering across different environments. Find the right game in Robolete where you get to make the most score and best of luck to you. See you at the finish line.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.RoboticWolfGames.Robolete&hl=en_GB" target="_blank">Google Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/2gPiUWHZxA8" target="_blank"><img alt="My Info" src="{{ "/assets/img/MyInfoVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents">
    <h3> MY INFO </h3>
    <p>My Info is a mini hack and slash game with a twist to the story. The game takes place in the digital world were corrupted data are threatening to take over a system. You are the only one who can stop these corrupted data from spreading further into the System. Defeat the corrupted and choose which upgrades you want. The further you go the better you will get. But there is a catch, die once and you have to restart from the start. Do you have what it takes to take down these corrupted data? Or will you end you joining them?</p>
    <a class="project-link" href="https://deadlykam.itch.io/my-info" target="_blank">Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/NCw_xAwizeU" target="_blank"><img alt="Mirror Video" src="{{ "/assets/img/MirrorVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> MIRROR </h3>
    <p>You wake up and find yourself locked in a strange room. The only way to escape is to follow the instructions on strange notes that keeps appearing. All is happening inside one room. Will you be able to escape? Or will you be lost in the Mirrors?</p>
    <a class="project-link" href="http://ludumdare.com/compo/ludum-dare-37/?action=preview&uid=124102" target="_blank">Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/2aq9TOUfx24" target="_blank"><img alt="Amardesh Video" src="{{ "/assets/img/AmardeshVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> AMARDESH (WIP) </h3>
    <p>The main character is a guardian of a town whose mission is to build up a town and an army to tackle the onslaught wave of enemies. The protagonist's main objective is to destroy a powerful kingdom somewhere on the map to gain access to the holy mountain where he/she will get some answers.</p>
    <a class="project-link" href="https://amardeshgame.blogspot.com/2018/" target="_blank">Blog</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/ugxwLMXfU20" target="_blank"><img alt="Thesis Video" src="{{ "/assets/img/ThesisVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> REAL TIME IMAGE AND VOICE PROCESSING INPUT FOR ONLINE MULTIPLAYER
COMPUTER GAMES (THESIS) </h3>
    <p>Real Time image processing and voice processing in computer gaming is a very recent
topic as companies like Microsoft and Sony have researched and implemented this
technology recently in their gaming consoles XBOX-360 and Play Station 3 respectively.
As these consoles have high performance processor likes CELL or XENON with
POWER (Performance Optimization with Enhanced RISC) PC Architecture unlike
desktop computers which uses x86 and legacy architecture processor which is slower
than console’s processors...</p>
    <a class="project-link" href="http://dspace.bracu.ac.bd/xmlui/handle/10361/2386" target="_blank">Thesis</a>
  </div>
</div>