<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/UJTbo6rlXzw" target="_blank"><img alt="Volant Rush Video" src="{{ "/assets/img/VolantRushVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents">
    <h3> VOLANT RUSH </h3>
    <p>Volant Rush is a single tap endless sci-fi hover craft running game in space that will entertain you for hours. It is a fast paced game that gradually increases speed overtime with unpredictable obstacles coming out everywhere possible. Tap the screen to go left or right. Avoid the obstacles and see if you can reach all the levels. Compete for online leaderboard and become the best in Volant Rush.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.DeadlyGames.VolantRush&hl=en_GB" target="_blank">Google Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="https://youtu.be/OOb8vUTDlxk" target="_blank"><img alt="Robolete Video" src="{{ "/assets/img/RoboleteVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3> ROBOLETE </h3>
    <p>Play any of our free and fun games, be the highest scorer. Enjoy the many beautiful sceneries while jumping, skipping, running or hovering across different environments. Find the right game in Robolete where you get to make the most score and best of luck to you. See you at the finish line.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.RoboticWolfGames.Robolete&hl=en_GB" target="_blank">Google Play</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://youtu.be/2gPiUWHZxA8" target="_blank"><img alt="My Info" src="{{ "/assets/img/MyInfoVid.png" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents">
    <h3> MY INFO </h3>
    <p>My Info is a mini hack and slash game with a twist to the story. The game takes place in the digital world were corrupted data are threatening to take over a system. You are the only one who can stop these corrupted data from spreading further into the System. Defeat the corrupted and choose which upgrades you want. The further you go the better you will get. But there is a catch, die once and you have to restart from the start. Do you have what it takes to take down these corrupted data? Or will you end you joining them?</p>
    <a class="project-link" href="https://deadlykam.itch.io/my-info" target="_blank">Play</a>
  </div>
</div>